HIGHLIGHT_Discord__Token=
HIGHLIGHT_DiscordNotifications__WebhookUrl=
HIGHLIGHT_ConnectionStrings__HighlightDbContext=Host=database; Database=highlightbot-data; Port=5432; Username=highlightbot; Password=test123
